

#uploadpart {
margin-left: 80px;
margin-top: 20px;
}

body {

background-color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
justify-content: start;
}


table, th, td, tr{

border: 1px solid black;
border-radius: 2px;
padding:20px;
margin-left: 80px;
margin-top: 80px;
justify-content: center;
}

   
h2 {
text-decoration: underline;  
  }


#pictures{
    padding: 5px;
}